/* Estilos generales */
body {
  background: #978e81;
}

/* Estilos para encabezados h1 */
h1 {
  color: #000000;
  text-align: center;
  font-size: 4em;
  font-family: "Helvetica", sans-serif;
}

/* Estilos para botones */
button {
  background-color: #d1e2bf;
  text-align: center;
  color: #333;
  font-size: 1em;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Helvetica", sans-serif;
  transition: transform 0.3s ease;
}

/* Estilo para el contenedor de botones */
.Button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.Button-container button {
  margin: 0 10px;
}

/* Efecto de escala al presionar botón */
button:active {
  transform: scale(0.95);
}

/* Estilos para la tabla */
#asistenciaTable {
  width: 100%;
  border-collapse: collapse;
  background: #c3dde6;
}

/* Estilos para encabezados y celdas de la tabla */
#asistenciaTable th,
#asistenciaTable td {
  border: 1px solid #000000;
  padding: 5px;
  text-align: center;
  font-family: "Helvetica", sans-serif;
  font-size: 1em;
}

/* Estilos para pantallas con ancho de 800px o menos */
@media (max-width: 800px) {
  button {
    font-size: 0.8em;
    padding: 8px;
  }

  #asistenciaTable {
    font-size: 0.8em;
  }

  #asistenciaTable th,
  #asistenciaTable td {
    padding: 3px;
  }
  #myChart {
    width: 100%;
    height: 300px;
  }
}

#myChart {
  width: 800px;
  height: 500px;
  margin: 0 auto;
}
